{% extends "base.html" %}
{% load custom_filters %}

{% block content %}

<div id="sidebar">
	{% if date %}
	<h4>{{ date|french_date }}</h4>
	{% endif %}

	{{ hits }} articles

</div>

<div id='headlines'>
	
	<p>
	{% if date_previous %}
	[<a href="/?date={{ date_previous }}">{{ date_previous }}</a>]
	{% endif %}

	{% if date_next %}
	[<a href="/?date={{ date_next }}">{{ date_next }}</a>]
	{% endif %}
	</p>
	
{% for n in object_list %}
	<span class="{% if n.is_flagged %}flagged{% endif %}">{{ n.pretty_time }} - {{ n.category }} - {{ n.place }} ({{ n.source }}) <a href="{{ n.get_absolute_url }}">{{ n.title }}</a></span><br />	
{% endfor %}

<p>
	{% if date_previous %}
	[<a href="?date={{ date_previous }}">{{ date_previous }}</a>]
	{% endif %}

	{% if date_next %}
	[<a href="?date={{ date_next }}">{{ date_next }}</a>]
	{% endif %}
</p>

</div>


{% endblock %}


