{% extends "base.html" %}
{% load custom_filters %}

{% block content %}


{% if debug %}
<div id="debug">
  <h2>Queries</h2>
  <p>
    {{ sql_queries|length }} Queries
    {% ifnotequal sql_queries|length 0 %}
    (<span style="cursor: pointer;" onclick="document.getElementById('debugQueryTable').style.display='';">Show</span>)
    {% endifnotequal %}
  </p>
  <table id="debugQueryTable" style="display: none;">
    <col width="1"></col>
    <col></col>
    <col width="1"></col>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">SQL</th>
      <th scope="col">Time</th>
    </tr>
    </thead>
    <tbody>
    {% for query in sql_queries %}<tr class="{% cycle odd,even %}">
      <td>{{ forloop.counter }}</td>
      <td>{{ query.sql|escape }}</td>
      <td>{{ query.time }}</td>
    </tr>{% endfor %}
    </tbody>
  </table>
</div>
{% endif %}



<div id="sidebar">
	<!--{{ hits }} articles, page {{ page }} sur {{ pages }}-->
	
	{% if source %}
		<A HREF="{{ source.link }}"> <IMG SRC="{{ source.image }}" BORDER="0"></A>
	{% else %}
		{{ source }}
	{% endif %}

	{% if date %}
	<h4>{{ date|french_date }}</h4>
	{% endif %}

</div>

<div id='headlines'>
	<p>
		{% if has_next %}
		[<a href="?page={{ page|add:1 }}">plus anciens</a>]
		{% endif %}

		{% if has_previous %}
		[<a href="?page={{ page|add:"-1" }}">plus récents</a>]
		{% endif %}
	</p>

{% for n in object_list %}
	<span class="{% if n.is_flagged %}flagged{% endif %}">{{ n.pretty_time }} - {{ n.category }} - {{ n.place }} <a href="{{ n.get_absolute_url }}">{{ n.title }}</a></span><br />
{% endfor %}

	<p>
		{% if has_next %}
		[<a href="?page={{ page|add:1 }}">plus anciens</a>]
		{% endif %}

		{% if has_previous %}
		[<a href="?page={{ page|add:"-1" }}">plus récents</a>]
		{% endif %}
	</p>

</div>


{% endblock %}


